<div class="flex items-center mr-2">
    <div class="w-6 h-6 dark:bg-slate-100 bg-slate-900 overflow-hidden rounded-full animate-spin">
        <div class="absolute w-2.5 h-2.5 dark:bg-slate-900 bg-slate-100 mr-2"></div>
    </div>
    <div class="-ml-[20px] w-4 h-4 dark:bg-slate-900 bg-slate-100 overflow-hidden rounded-full animate-anticlockwise">
        <div class="absolute w-2 h-2 dark:bg-slate-100 bg-slate-900 mr-2"></div>
    </div>
</div>