---
import SectionTitle from "./SectionTitle.astro";

const _INPUT__ = "max-w-full w-full px-4 py-2 rounded outline-none col-span-2 md:col-span-1 dark:bg-slate-600 dark:text-slate-100"
const _INPUT_TEXTAERA__ = "max-w-full w-full px-4 py-2 col-span-2 rounded outline-none dark:bg-slate-600 dark:text-slate-100"

import { Icon } from 'astro-icon'
---

<section id="Contact" class="p-4 md:p-8">
    
    <SectionTitle title="GET IN TOUCH" />

    <p class="text-center mt-4 md:-mt-2 text-slate-700 md:px-40 lg:px-80 dark:text-slate-400">Feel free to Contact me by submitting the form below and I will get back to you as soon as possible</p>

    <form class="bg-slate-200 dark:bg-slate-700 grid md:grid-cols-2 gap-2 md:gap-4 p-4 md:p-8 max-w-[40rem] mx-auto mt-8 rounded">
        <input placeholder="Full Name" type="text" name="" id="" class={`${_INPUT_TEXTAERA__}`}>
        <input placeholder="Email" type="email" name="" id="" class={_INPUT__}>
        <input placeholder="Phone Number" type="tel" name="" id="" class={_INPUT__}>
        <textarea placeholder="Your message here..." name="" id="" cols="30" rows="10" class={`${_INPUT_TEXTAERA__}`}></textarea>
        <div class="text-center col-span-2">
            <a href="#_" class="relative inline-flex items-center justify-center p-4 px-6 py-2 overflow-hidden font-medium text-blue-600 transition duration-300 ease-out border-2 border-blue-700 dark:border-slate-300 rounded group">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-700 dark:bg-slate-700 group-hover:translate-x-0 ease">
                <div class="w-5 h-5"> <Icon name="vaadin:paperplane" /> </div>    
                </span>
                <span class="absolute flex items-center justify-center w-full h-full text-blue-700 dark:text-slate-300 transition-all duration-300 transform group-hover:translate-x-full ease">SEND MESSAGE</span>
                <span class="relative invisible">SEND MESSAGE</span>
            </a>
        </div>
    </form>
</section>