---
import heroImg from '../assets/images/hero3.png'
---

<section id="Home" class="h-[25rem] md:h-[35rem] overflow-hidden bg-black">
    <img src={heroImg} alt="Hero Image" class="h-full w-full object-cover opacity-30">
    <div class="h-[25rem] md:h-[35rem] text-white text-center absolute inset-0 mt-10 flex flex-col justify-center gap-8 items-center">
        <div class="space-y-4">
            <h1 class="text-4xl md:text-6xl font-black">GENIUS <br class="sm:hidden" /> MULTIMEDIA</h1>
            <p class="md:text-lg sm:px-20">It should not be neglected that a significant portion of the major outcomes</p>
        </div>
        <a href="#About" class="bg-blue-700 text-white px-4 py-1 md:px-6 md:py-2 rounded font-bold active:scale-[.95]">EXPLORE</a>
    </div>
</section>