---
import { Icon } from 'astro-icon'
import heroImg from '../assets/images/hero3.png'
---

<section id="Home" class="h-[25rem] md:h-[35rem] overflow-hidden bg-black">
    <img src={heroImg} alt="Hero Image" class="h-full w-full object-cover opacity-30">
    <div class="h-[25rem] md:h-[35rem] text-white text-center absolute inset-0 mt-20 md:mt-10 flex flex-col justify-center gap-8 items-center">
        <div class="space-y-4">
            <h1 class="text-4xl md:text-6xl font-black">GENIUS <br class="sm:hidden" /> MULTIMEDIA</h1>
            <p class="md:text-lg sm:px-20">It should not be neglected that a significant portion of the major outcomes</p>
        </div>
        <a href="#About" class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-700 transition duration-300 ease-out border-2 border-white rounded-full shadow-md group">
            <span class="absolute inset-0 flex items-center justify-center w-full h-full text-slate-100 duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease">
            <div class="w-6 h-6 rotate-90"><Icon name="vaadin:arrow-forward" /></div>
        </span>
            <span class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease">Explore</span>
            <span class="relative invisible">explore now</span>
        </a>
    </div>
</section>