---
import { Icon } from 'astro-icon'

const navlinks = ['Home', 'About', 'Projects', 'Contact']
---

<header class="md:fixed md:top-0 inset-x-0 p-4 bg-white dark:bg-slate-900 dark:text-slate-100 shadow z-50">
    <div class="container mx-auto flex justify-between">
        <a class="font-black text-2xl text-slate-900 dark:text-slate-100 flex gap-1" href="/">GENIUS <span class="hidden md:block">MULTIMEDIA</span> </a>
        <nav class="hidden md:block">
            <ul class="flex gap-8">
                {
                    navlinks.map(link => {
                        return (
                            <li>
                                <a href={`#${link}`} class="relative group hover:text-blue-700">
                                    {link}
                                    <div class="absolute w-full mt-1 h-0.5 bg-blue-700 scale-x-0 group-hover:scale-x-75 transition-transform duration-500"></div>
                                </a>
                            </li>
                        )
                    })
                }
                <div title="Toggle theme" id="themeToggler" class="bg-slate-200 text-slate-900 w-[2rem] p-1 rounded-full cursor-pointer transition-transform">
                    <Icon name="subway:cercle-5" />
                </div>
            </ul>
        </nav>
        <div title="Toggle theme" id="themeToggler2" class="bg-slate-200 text-slate-900  w-[1.8rem] h-[1.8rem] p-0.5 rounded-full md:hidden transition-transform">
            <Icon name="subway:cercle-5" />
        </div>
    </div>
</header>