---
import Img1 from '../assets/images/1.png'
import Img2 from '../assets/images/2.png'
import Img3 from '../assets/images/3.png'
import Img4 from '../assets/images/4.png'
import Img5 from '../assets/images/5.png'
import Img6 from '../assets/images/6.png'


const PROJECTS = [Img1, Img2, Img3, Img4, Img5, Img6]
---

<ul class="flex flex-wrap gap-4 mt-8 justify-center md:[&>*]:cursor-pointer">
    {
        PROJECTS.map((project: string) => {
            return (
                <a href="/desc" class="w-full md:w-[20rem] h-[15rem] rounded-lg overflow-hidden bg-black">
                    <img src={project} alt="" class="w-full object-cover lg:opacity-80 hover:opacity-100 md:w-[20rem] h-[20rem] transition-all duration-500 hover:scale-[1.3]" />
                </a>
            )
        })
    } 
</ul>