---
import BANNER from '../assets/images/hero3.png'
---

<header class="mt-[3rem] text-center h-[7rem] md:h-[10rem] overflow-hidden relative bg-black mb-8">
    <img src={ BANNER } alt="Banner" class="w-full opacity-50">
    <h1 class="inset-y-1/2 absolute inset-x-0 text-white font-bold text-3xl md:text-4xl">MY PROJECTS</h1>
</header>