---
import ProjectCard from "./ProjectCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="Projects" class="p-4 md:p-8">
    <SectionTitle title="PROJECTS" />
    <ProjectCard />
    <div class="text-center mt-8 active:scale-[.95]">
        <a href="/projects" class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800">{"SEE MORE >>"}</a>
    </div>
</section>