---
export interface Props {
	title: string;
}

const { title } = Astro.props;

// Components
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" id="html" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-slate-900
	dark:bg-slate-800 ">
		<main class="container mx-auto">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global> 
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;&display=swap');
	
	html{
		scroll-behavior: smooth;
		scroll-padding-top: 4rem;
	}
	
	*{
		font-family: 'Poppins', sans-serif;
		user-select: none;
		-webkit-user-select: none;
	}
</style>

<script is:inline>
    const themeToggler = document.getElementById("themeToggler");
    const html = document.getElementById("html");

	let theme = window.localStorage.getItem('theme');

	theme===null ? window.localStorage.setItem('theme', 'light') : html.className = theme;
	theme==="dark" && themeToggler.classList.toggle("rotate-180");

    themeToggler.addEventListener("click", () => {
        html.classList.toggle("dark");
        html.classList.toggle("light");
		themeToggler.classList.toggle("rotate-180");
		window.localStorage.setItem('theme', html.classList);
    })
</script>

